# Dependencies (Root, Frontend, Backend)
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build Outputs & Bundles
dist/
**/dist/
dist-ssr/
build/
**/build/
.vercel/
out/



# OS & Editor Files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?